doctype html
html
    head
        title Przekaż zdjęcie
        link(rel='stylesheet', href='/css/login-style.css')
    body
        div.login-page
            div.form
                h1 Przekaż zdjęcie
                p Formularz pozwala na przekazanie zdjęcia
                form.register-form(name="addPhoto", action="/auth/profile/photos/add/save", method="post")
                    input(type="text", name="photoName", pattern=".{3,10}" title="Wprowadz od 3 do 10 znaków", placeholder="Tytuł", required)
                    input(type="text", name="photoPath", placeholder="Adres url", required)
                    input.submit.space-input(type="submit", value="Wyślij")
                p
                    a(href="/auth/profile/photos")
                        input.submit(type="submit", value="Wstecz")