doctype html
html
    head
        title Dodawanie
    body
            h1 Dodaj zdjecie
            p
                a(href="/auth/profile/photos/add/save") Dodaj zdjęcie
            p
                a(href="/auth/profile/photos") Cofnij