doctype html
html
    head
        title Admin Logowanie
    body
            h1 Logowanie
            form(name="signInForm", action="/Admin/signIn", method="post")
                p
                    input(type="text", name="userName", id="userName", placeholder="login")
                p
                    input(type="password", name="password", id="password", placeholder="password")
                p
                    input(type="submit", value="Sign In")