doctype html
html
    head
        title Gallery
    body
        h1 Rejestracja
        form(name="signUpForm", action="/Auth/signUp", method="post")
            p
                input(type="text", name="userName", id="userName", placeholder="login")
            p
                input(type="password", name="password", id="password", placeholder="password")
            p
                input(type="submit", value="Sign up")

        h1 Logowanie
        form(name="signInForm", action="/Auth/signIn", method="post")
            p
                input(type="text", name="userName", id="userName", placeholder="login")
            p
                input(type="password", name="password", id="password", placeholder="password")
            p
                input(type="submit", value="Sign In")