doctype html
html
    head
        title Gallery
        link(rel='stylesheet', href='/css/login-style.css')
        
    body
        h5 #{failureMessage}
        div.login-page
            div.form
                h1 Rejestracja
                form.register-form(name="signUpForm", action="/Auth/signUp", method="post")
                    input(type="email", name="userName", id="userNameRegister", pattern=".{3,15}" title="Wprowadz od 3 do 15 znaków", placeholder="Email", required)
                    input(type="password", name="password", id="passwordRegister", pattern=".{3,15}" title="Wprowadz od 3 do 15 znaków", placeholder="Hasło", required)
                    input.submit(type="submit", value="Stwórz konto")
                h1 Logowanie
                form.login-form(name="signInForm", action="/Auth/signIn", method="post")
                    if req.
                        h5 #{message}
                    input(type="email", name="userName", id="userName", pattern=".{3,15}" title="Wprowadz od 3 do 15 znaków", placeholder="Email", required)
                    input(type="password", name="password", id="password", pattern=".{3,15}" title="Wprowadz od 3 do 15 znaków", placeholder="Hasło", required)
                    input.submit(type="submit", value="Zaloguj się")