doctype html
html
    head
        title Admin Panel
        link(rel='stylesheet', href='/css/admin.css')
    body
            h1 Panel

            p
                a(href="/admin/panel/logout") Wylogowanie
            p
                a(href="/admin/panel/create") Utwórz

                each user in users
                    if user.username != 'admin@admin'
                        .list
                            p ID: #{user._id}
                            p username: #{user.username}
                            p password: #{user.password}
                            p
                                a(href="/admin/panel/delete/"+ user._id) Usuń
