doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            h1 #{title}
        #photo
            each photos in photo
                .photo
                    h2 #{photos.name}
                    div.container
                        a(href="/auth/profile/photos/delete/" + photos._id)
                            image.image1(src=photos.path)
                            div.overlay
                                div.text Usuń
        p
            a(href="/auth/profile/photos/add")
                input.submit(type="button", value="Dodaje zdjęcie")
            a.space(href="/auth/profile")
                input.submit(type="button", value="Wstecz")