doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        h1 #{title}
        #photo
            each photos in photo
                .photo
                    h2 #{photos.name}
                    image(src=photos.path)

        p
            a(href="/auth/profile/photos/add") Dodaj zdjęcie
        p
            a(href="/auth/profile") Back