doctype html
html
    head
        title Profile
    body
        h1 Profile
        p
            a(href='profile/logout') Logout
        p
            a(href='profile/photos') Photos
        p
            a(href='profile/videos') Videos
        p
            a(href='profile/settings') Settings